doctype html
html
  head
    title= title
    meta(name="turbolinks-visit-control", content="reload")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="http://code.jquery.com/jquery-3.5.1.slim.min.js", integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=", crossorigin="anonymous") 
    script(src="https://sdk.amazonaws.com/js/aws-sdk-2.771.0.min.js")
    script(src="https://unpkg.com/amazon-kinesis-video-streams-webrtc/dist/kvs-webrtc.min.js")
    script(src="/javascripts/waitingroom.bundle.js")
    block scripts
  body
    block content