extends ../../layouts/admin

block content
  h1= title


  include fragments/_create_form.pug
  
  div.rooms
    ul
      each room in model.rooms
        li
          a(href=`/admin/rooms/${room._id}`) #{room.name}
          |
          |
          a(href=`/admin/rooms/${room._id}`, data-method="delete", data-remote="true") x