extends layout

block content
  h1= title

  h2= contact.fullName
  p= contact.email

  p Nuovo appuntamento
  form(action="/appointment", method="post")
    div
        | titolo:
        input(type="text", name="summary")
    div
        | data:
        input(type="date", name="date")
    div
        | note:
        textarea(name="notes", cols="30", rows="10")
    div
        input(type="hidden", name="contact", value=`${contact._id}`)
        input(type="submit", value="Invia")