extends layouts/operator

block content

  <section class="text-gray-700 body-font">
    div(class="container mt-20 w-2/3 m-auto")
      div.grid.grid-cols-2.grid-flow-row.gap-6
        a(class="h-56 border-solid border-2 border-gray-400 rounded-lg flex flex-col items-center justify-center hover:bg-gray-100" href="/calendar")
          div
            <svg xmlns="http://www.w3.org/2000/svg" class="h-20 w-20 text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
            </svg>
          div.mt-4.text-2xl Calendario
        a(class="h-56 border-solid border-2 border-gray-400 rounded-lg flex flex-col items-center justify-center hover:bg-gray-100" href="/contacts")
          div
            <svg xmlns="http://www.w3.org/2000/svg" class="h-20 w-20 text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" />
            </svg>
          div.mt-4.text-2xl Contatti
        a(class="h-56 col-span-2 border-solid border-2 border-gray-400 rounded-lg flex flex-col items-center justify-center hover:bg-gray-100" href="/rooms")
          div
            <svg xmlns="http://www.w3.org/2000/svg" class="h-20 w-20 text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 10l4.553-2.276A1 1 0 0121 8.618v6.764a1 1 0 01-1.447.894L15 14M5 18h8a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z" />
            </svg>
          div.mt-4.text-2xl Stanze
  </section>