doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block scripts
      script(src="/javascripts/rails-ujs.js")
      script(src='/javascripts/index.bundle.js', defer)
      script(src="/javascripts/rooms.bundle.js", defer)
  body
    a(href="/contacts") Contatti
    |
    |
    a(href="/calendar") Calendario
    |
    |
    a(href="/rooms") Stanza

    block content

    script(src="http://code.jquery.com/jquery-3.5.1.slim.min.js", integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=", crossorigin="anonymous") 