doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href="/contacts") Contatti
    |
    |
    a(href="/calendar") Calendario
    |
    |
    a(href="/room") Stanza

    block content

