doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/turbolinks.js")
  body
    a(href="/contacts") Contatti
    |
    |
    a(href="/calendar") Calendario
    |
    |
    a(href="/room") Stanza

    block content

     
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.min.js')
    script(src='/javascripts/client.js')