include ../../mixins/_button
include ../../mixins/_form_control
include ../../mixins/_form_errors


- var _model = model || {}
- var _errors = errors || {}

<form action="/contacts" data-behavior="create-contacts-form" data-remote="true" method="post">
    +form_errors(_errors)
    <div class="flex lg:w-2/3 w-full sm:flex-row flex-col mx-auto px-8 sm:px-0 items-end">
        +form_control('fullName', 'text', 'Nominativo', errors)(value=_model.fullName)
        +form_control('email', 'text', 'Email', errors)(value=_model.email)
        +button('Inserisci')
    </div>
</form>