extends ../layouts/operator

block scripts

block content
  h1= title

  h2= contact.fullName
  p= contact.email

  p Nuovo appuntamento
  form(action="/appointments", data-remote="true", method="post")
    div
        | titolo:
        input(type="text", name="summary")
    div
        | data:
        input(type="datetime-local", name="date")
    div
        | room:
        select(name="room", data-behavior="room-select")
            option(value="") -
    div
        | note:
        textarea(name="notes", cols="30", rows="10")
    div
        input(type="hidden", name="contact", value=`${contact._id}`)
        input(type="submit", value="Invia")


    script(src="/javascripts/contact.bundle.js")